:root {
  --canvasBg: #f5f5f5;
  --black: #000;
  --primary: #1976d2;
  --white: #fff;
  --error: #dc7c7c;
  --warning: #f0c766;
  --success: #7fb58a;
  --info: #66c4eb;
  --text: #2c2c2c;
  --accent: #dd1c74;
  --attention: #f24726;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: var(--black);
}

.spaced-and-centered {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.outlined-accent-button {
  border: solid 1px var(--accent);
  color: var(--accent);
  padding: 8px;
  border-radius: 8px;
  background-color: var(--white);
  cursor: pointer;
  margin: 10px 0 5px 20px;
}

.outlined-accent-button:hover {
  background-color: var(--accent);
  color: var(--white);
}

.drop-active {
  border: var(--accent) dashed 1px;
}

.drop-target {
  border: var(--accent) solid 1px !important;
}

/** Remove default select */
select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
}
select::-ms-expand {
  display: none;
}
select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}
select[multiple] {
  padding-right: 0;
  /* * Safari will not reveal an option * unless the select height has room to * show all of it * Firefox and Chrome allow showing * a partial option */
  height: 6rem;
  /* * Experimental - styling of selected options * in the multiselect * Not supported crossbrowser */
}
select[multiple] option {
  white-space: normal;
  outline-color: var(--select-focus);
}
.auth {
  font-size: 1.5rem;
  font-style: italic;
  margin: 10px;
}
.mfacon {
  display: inline-flex;
  border:  2px solid black;
}
.container{
  display:grid;
  border: var(--accent) 1px solid;
  background-color: rgba(189, 186, 230, 0.917);
  flex-direction: column; 
  margin: 5px 5px 20px 5px;
  padding:10px;
  box-shadow: 2px 2px 5px var(--accent);
}
.container1{
  border: var(--black) 2px solid;
  flex-direction: column, row-reverse; 
  margin: 5px;
  padding: 5px;
  box-shadow: 2px 2px 5px gray;

}
select{
  border: var(--black) 1px solid;
  background-color: white;
  width:auto;
  padding:2px;
  margin-left: 10px;
  font-size: smaller;
}
label[type=text] {
  width: 100%;
  padding: 5px;
  margin-left: 10px;
}
input[type=text] {
  padding: 5px;
  margin-left: 0px;
}
input[type=checkbox] {
  padding: 12px;
  margin-left: 10px;
}
input[type=number] {
  padding: 2px;
  margin-left: 10px;
}
.createcan{
  display: flexbox;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px gray;
}
.ava{
  display: grid;
  width: 25%;
  height: 200px;
  border: 3px solid var(--accent);
  border-radius: 5px;
  /* text-align: center; */
  align-content: center;
  padding-left:5px;
}