:root {
  --canvasBg: #f5f5f5;
  --black: #000;
  --primary: #1976d2;
  --white: #fff;
  --error: #dc7c7c;
  --warning: #f0c766;
  --success: #7fb58a;
  --info: #66c4eb;
  --text: #2c2c2c;
  --accent: #dd1c74;
  --attention: #f24726;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: var(--black);
}

.spaced-and-centered {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.outlined-accent-button {
  border: solid 1px var(--accent);
  color: var(--accent);
  padding: 8px;
  border-radius: 8px;
  background-color: var(--white);
  cursor: pointer;
}

.outlined-accent-button:hover {
  background-color: var(--accent);
  color: var(--white);
}

.drop-active {
  border: var(--accent) dashed 1px;
}

.drop-target {
  border: var(--accent) solid 1px !important;
}

/** Remove default select */
select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
}
select::-ms-expand {
  display: none;
}
select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}
select[multiple] {
  padding-right: 0;
  /* * Safari will not reveal an option * unless the select height has room to * show all of it * Firefox and Chrome allow showing * a partial option */
  height: 6rem;
  /* * Experimental - styling of selected options * in the multiselect * Not supported crossbrowser */
}
select[multiple] option {
  white-space: normal;
  outline-color: var(--select-focus);
}
