:root {
  --canvasBg: #f5f5f5;
  --black: #000;
  --primary: #1976d2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: var(--black);
}
